{{ 'custom-newsletter.css' | asset_url | stylesheet_tag }}

<div class="custom-newsletter-section">
  <div class="page-width">
    <div class="custom-newsletter-content">
    <div class="newsletter-left">
      <p class="newsletter-heading">{{ 'sections.custom-newsletter.body' | t | newline_to_br }}</p>
      {% comment %}
        <p class="newsletter-subheading">{{ section.settings.subheading }}</p>
      {% endcomment %}
      {% form 'customer', class: 'custom-newsletter-form' %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="form-field">
          <p for="newsletter-name">{{ 'sections.custom-newsletter.name' | t }}</p>
          <input type="text" id="newsletter-name" name="contact[first_name]" required>
        </div>
        <div class="form-field">
          <p for="newsletter-surname">{{ 'sections.custom-newsletter.lastname' | t }}</p>
          <input type="text" id="newsletter-surname" name="contact[last_name]" required>
        </div>
        <div class="form-field">
          <p for="newsletter-email">{{ 'sections.custom-newsletter.email' | t }}</p>
          <input type="email" id="newsletter-email" name="contact[email]" required>
        </div>
        <button type="submit" class="newsletter-submit">{{ 'sections.custom-newsletter.button' | t }}</button>
      {% endform %}
    </div>
    <div class="newsletter-right">
      {% comment %}
        <img src="{{ 'newsletter-placeholder.jpg' | asset_url }}" alt="Newsletter image">
      {% endcomment %}
    </div>
  </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Newsletter",
  "settings": [  ],
  "presets": [
    {
      "name": "Custom Newsletter"
    }
  ]
}
{% endschema %}
